{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_boost/login

    Login page template

    Example context (json):
    {
        "output": {
            "doctype": "<!DOCTYPE html>",
            "page_title": "Login page",
            "favicon": "favicon.ico",
            "main_content": "<h1>Headers keep HTML validators happy</h1>"
        }
    }
}}
{{{ output.doctype }}}
<html {{{ output.htmlattributes }}}>
<head>
    <title>{{{ output.page_title }}}</title>
    <link rel="shortcut icon" href="{{{ output.favicon }}}" />
    {{{ output.standard_head_html }}}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body {{{ bodyattributes }}}>

    <div id="page-wrapper">

        {{{ output.standard_top_of_body_html }}}

        <div id="page" class="container-fluid">
            <div id="page-content" class="row">
                <div id="region-main-box">
                    {{! TU DORTMUND MODIFICATION START }}

                    <div class="row">
                        <div id="hiddenoutput" style="display: none">
                            {{{ output.course_content_header }}}
                            {{{ output.main_content }}}
                            {{{ output.course_content_footer }}}
                        </div>
                    </div>

                    <section id="region-main" class="col-xs-12">
                        <div class="row">
                            <div class="col-lg-2"></div>
                                <div class="col-lg-8">
                                    <div class="card">
                                        <div class="card-block">
                                            <div class="card-title text-xs-center">
                                                {{#logourl}}
                                                    <h2><img src="{{logourl}}" title="{{sitename}}" alt="{{sitename}}"/></h2>
                                                {{/logourl}}
                                                {{^logourl}}
                                                    <h2>Moodle der TU Dortmund</h2>
                                                {{/logourl}}
                                                <hr>
                                            </div>
                                            <div class="col-md-4 text-xs-center">
                                                {{{ ssotitle }}}
                                                {{{ ssologinform }}}
                                                {{{ ssologinhtml }}}
                                            </div>
                                            <div class="col-md-4 text-xs-center">
                                                {{{ uaruhrtitle }}}
                                                {{{ uaruhrloginhtml }}}
                                            </div>
                                            <div class="col-md-4 text-xs-center">
                                                {{{ standardtitle }}}
                                                    <form action="{{loginurl}}" method="post" id="login" autocomplete="off">
                                                        <input id="anchor" type="hidden" name="anchor" value="">
                                                        <script>document.getElementById('anchor').value = location.hash;</script>

                                                        <label for="username" class="sr-only">{{#str}} username {{/str}}</label>
                                                        <input type="text" name="username" id="username" class="form-control" value="" placeholder={{#str}}username{{/str}}>
                                                        <label for="password" class="sr-only">{{#str}} password {{/str}}</label>
                                                        <input type="password" name="password" id="password" value="" class="form-control" placeholder={{#str}}password{{/str}}>

                                                        <div class="rememberpass">
                                                            <input type="checkbox" name="rememberusername" id="rememberusername" value="1" {{#username}}checked="checked"{{/username}} />
                                                            <label for="rememberusername">{{#str}} rememberusername, admin {{/str}}</label>
                                                        </div>

                                                        <div class="forgetpass">
                                                            <p><a href="{{forgotpasswordurl}}">{{#str}}forgotten{{/str}}</a></p>
                                                        </div>

                                                        <div class="">
                                                            {{#str}} cookiesenabled {{/str}}
                                                            {{{cookieshelpiconformatted}}}
                                                        </div>

                                                        <div class="">
                                                            <button type="submit" class="btn btn-secondary" id="loginbtn">{{#str}}login{{/str}}</button>
                                                        </div>
                                                    </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <div class="col-lg-2"></div>
                        </div>

                        {{# hasinstructions }}
                        <div class="row">
                            <div class="col-lg-2"></div>
                            <div class="col-lg-8">
                                <div class="card">
                                    <div class="card-block">
                                        <div class="card-title">
                                            <h3>{{#str}}firsttime{{/str}}</h3>
                                        </div>
                                            {{{ instructions }}}
                                        <div>
                                            {{# cansignup }}
                                                <form class="" action="{{signupurl}}" method="get" id="signup">
                                                    <button type="submit" class="btn btn-secondary">{{#str}}startsignup{{/str}}</button>
                                                </form>
                                            {{/ cansignup }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2"></div>
                        </div>
                        {{/hasinstructions}}
                    </section>
                    {{! TU DORTMUD MODIFICATION END }}
                </div>
            </div>
        </div>
    </div>

    <footer id="page-footer" class="p-y-1 bg-inverse">
        <div class="container">
            <div id="course-footer">{{{ output.course_footer }}}</div>

            {{# output.page_doc_link }}
                <p class="helplink">{{{ output.page_doc_link }}}</p>
            {{/ output.page_doc_link }}

            {{{ output.login_info }}}
            {{{ output.home_link }}}
            {{{ output.standard_footer_html }}}
            {{{ output.standard_end_of_body_html }}}
        </div>
    </footer>


</body>
</html>

{{#js}}require(['theme_boost/loader']);{{/js}}
